.content {
  max-width: 100%;
  background-image: url("../../images/background_sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.content_box {
  padding: 20px;
  width: 100%;
  max-width: 1450px;
  height: 760px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_search {
  margin: 0;
  width: 650px;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form_search {
  margin: 0;
  padding: 0 20px;
  margin-top: 30px;
  color: black;
  border: 3px solid black;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input_search {
  font-size: 32px;
  height: 60px;
  border: none;
  background: transparent;
  outline: none;
}

.btn_search {
  border: none;
  background: transparent;
}

.image_search {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_modal {
  margin: 0;
  box-sizing: border-box;
  padding: 30px 0;
  height: 450px;
  width: 550px;
  border-radius: 20px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
  background: rgb(0, 47, 158);
  background: linear-gradient(
    41deg,
    rgba(0, 47, 158, 1) 0%,
    rgba(0, 40, 131, 1) 50%,
    rgba(0, 32, 106, 1) 100%
  );
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content_modal_top {
  margin: auto;
  font-size: 32px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content_modal_bottom {
  font-size: 20px;
  padding: 25px;
  height: 200px;
  width: 350px;
  color: white;
  border-radius: 20px;
  background-color: #02226b;
  display: flex;
  align-items: center;
}

.content_modal_block {
  height: 100px;
  width: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content_second {
  max-width: 100%;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  position: relative;
}

.content_second_info {
  padding: 20px;
  width: 100%;
  max-width: 1450px;
}

.content_second_info_title {
  text-align: justify;
  font-size: 40px;
  margin-bottom: 20px;
}

.content_second_info_text {
  font-size: 24px;
  text-align: justify;
}

.content_second_cards {
  padding: 20px 20px 40px 20px;
  width: 100%;
  max-width: 1450px;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 1500px) {
  .content_box {
    width: 1250px;
  }

  .content_second_info {
    width: 1250px;
  }
}

@media (max-width: 1300px) {
  .content_box {
    width: 950px;
  }

  .content_search {
    width: 40%;
    font-size: 28px;
  }

  .input_search {
    margin: 0;
    font-size: 28px;
    width: 80%;
    height: 60px;
  }

  .btn_search {
    margin: 0;
  }

  .content_modal {
    width: 450px;
  }

  .content_second_info {
    width: 950px;
  }

  .content_second_info_title {
    font-size: 36px;
  }

  .content_second_info_text {
    font-size: 20px;
  }

  .content_second_cards {
    max-width: 950px;
  }
}

@media (max-width: 1000px) {
  .content_box {
    width: 720px;
  }

  .content_search {
    width: 45%;
    font-size: 24px;
    align-items: center;
  }

  .input_search {
    margin: 0;
    font-size: 28px;
    height: 60px;
  }

  .btn_search {
    margin: 0;
  }

  .content_modal {
    padding: 20px 0;
    height: 380px;
    width: 350px;
  }

  .content_modal_top {
    font-size: 28px;
  }

  .content_modal_bottom {
    font-size: 18px;
    width: 320px;
  }

  .content_second_info {
    width: 720px;
  }

  .content_second_cards {
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .content_box {
    padding-top: 150px;
    height: 900px;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    gap: 70px;
  }

  .content_search {
    width: 100%;
    font-size: 24px;
  }

  .content_title {
    text-align: center;
  }

  .input_search {
    margin: 0;
    font-size: 28px;
    height: 60px;
  }

  .btn_search {
    margin: 0;
  }

  .content_modal {
    padding: 20px 0;
    height: 380px;
    width: 350px;
  }

  .content_modal_top {
    font-size: 28px;
  }

  .content_modal_bottom {
    font-size: 18px;
    width: 320px;
  }

  .content_second_info {
    width: 100%;
  }

  .content_second_info_title {
    font-size: 30px;
  }

  .content_second_info_text {
    font-size: 18px;
  }

  .content_second_cards {
    padding: 20px 5px;
  }
}

@media (max-width: 480px) {
  .content_box {
    width: 100%;
  }
}
