.content {
  max-width: 100%;
  background-image: url("../../images/background_sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.content_box {
  padding: 20px;
  width: 100%;
  max-width: 1450px;
  height: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_search {
  margin: 0;
  width: 650px;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form_search {
  margin: 0;
  padding: 0 20px;
  margin-top: 30px;
  color: black;
  border: 3px solid black;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input_search {
  font-size: 32px;
  height: 60px;
  border: none;
  background: transparent;
  outline: none;
}

.btn_search {
  border: none;
  background: transparent;
}

.image_search {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1500px) {
  .content_box {
    width: 1250px;
  }
}

@media (max-width: 1300px) {
  .content_box {
    width: 950px;
  }

  .content_search {
    width: 40%;
    font-size: 28px;
  }

  .input_search {
    margin: 0;
    font-size: 28px;
    width: 80%;
    height: 60px;
  }

  .btn_search {
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .content_box {
    padding-top: 120px;
    height: 1000px;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    gap: 50px;
  }

  .content_search {
    width: 100%;
    font-size: 24px;
    align-items: center;
  }

  .content_title {
    text-align: center;
  }

  .input_search {
    margin: 0;
    font-size: 28px;
    height: 60px;
  }

  .btn_search {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .content {
    background-attachment: local;
  }

  .content_box {
    padding-top: 90px;
    height: 900px;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    gap: 70px;
  }
}

@media (max-width: 480px) {
  .content_box {
    width: 100%;
  }
}
